@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #ff9900;
    overflow: hidden;
    background-image: url(photo.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
}
.container{
    max-width: 440px;
    padding: 0 20px;
    margin: 100px auto;
}
.wrapper{
    width: 100%;
    background: white;
    border-radius: 5px;
}
 .wrapper .title{
    line-height: 90px;
    background-color: #ff6200;
    text-align: center;
    border-radius: 5px 5px 0 0;
    color: white;
    font-size: 25px;
    font-weight: 600;
}
.wrapper form{
    padding: 20px;
}
.wrapper form .row{
    height: 45px;
    margin-bottom: 15px;
    position: relative;
}
.wrapper form .row input{
    height: 100%;
    width: 100%;
    padding-left: 60px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #f90;
    font-size: 16px;
    transition: all 0.3s ease;
}
form .row input:focus{
    border-color: #ff6200;
    box-shadow: inset 0px 0px 2px 2px #ff6200;
}
.wrapper form .row i{
    position: absolute;
    height: 100%;
    width: 47px;
    background-color: rgb(255, 98, 0);
    display: 1px solid #ff6200;
    color: white;
    font-size: 18px;
    border-radius: 5px 0 0 5px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.wrapper form .forgot{
    margin: -8px 0 15px 0;
}
.wrapper form .forgot a{
    color: #ff6200;
    font-size: 17px;
    text-decoration: none;
}
.wrapper form .forgot a:hover{
    text-decoration: underline;
}
.wrapper form .button input{
    justify-content: center;
    text-align: center;
    display: grid;
    padding-left: 0px;
    background-color: rgb(255, 98, 0);
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
form .button input:hover{
    background-color: #ff9900;
}
.wrapper form .signup{
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
}
.wrapper form .signup a{
    color: #ff6200;
    
    text-decoration: none;
}
.wrapper form .signup a:hover{
    text-decoration: underline;
}
